* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

/* Common */
.main-content {
  width: 1050px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* Header */

.header__body {
  margin-top: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__title {
  color: #01034b;
  font-size: 4rem;
  font-weight: 800;
}

.header__desc {
  color: #616276;
  margin-top: 32px;
  font-size: 1.6rem;
  line-height: 1.56;
  font-weight: 400;
}

/* Information */
.form-message {
  margin-top: 83px;
}

.information {
  width: 40%;
  background-color: #3e1f92;
  border-radius: 20px;
}

.form-message__body {
  background-color: #fff;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 20px;
  display: flex;
}

.information__body {
  padding: 42px 36px 42px 36px;
  position: relative;
}

.information__title {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}

.information__desc {
  color: #c1c1c1;
  margin-top: 25px;
  font-size: 1.6rem;
  line-height: 1.56;
  font-weight: 400;
}

.information__body--icon {
  margin-top: 58px;
}

.information__icon + .information__icon {
  margin-top: 50px;
}

.icon__link {
  display: inline-block;
  margin-right: 10px;
}

.info {
  color: #c1c1c1;
}

.circle {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  background: #7e53fa;
  right: 50px;
  bottom: 60px;
  z-index: 1;
  opacity: 0.96;
}

.circle__2 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  background: #f7929b;
  bottom: 0;
  right: 0;
  border-top-left-radius: 300px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 40px;
}

.information__media {
  margin-top: 131px;
  gap: 15px;
  display: flex;
  align-items: center;
}

.media__icon {
  color: #fff;
}

.information__media--icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3e1f92;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information__media--icon:hover {
  background-color: #f7929b;
}

i {
  color: #fff;
}

i:hover {
  color: #f7929b;
}

.form {
  padding: 33px 0 0 36px;
}

.form:has(:invalid) .submit-btn {
  opacity: 0.5;
  pointer-events: none;
}

.form-label,
.form-input {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  font-weight: 700;
  color: #979797;
}

.textarea-form,
.form-input {
  outline: none;
  border: none;
  border-bottom: 1px solid #dddce3;
  padding: 8px 0 17px 0;
}

.form__body {
  display: flex;
  gap: 37px;
  margin-bottom: 37px;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 1.3rem;
  visibility: hidden;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 269px;
}

.form-input::placeholder {
  color: #bebfc9;
}

.form-group:focus-within .form-label {
  color: #5f42b6;
}

.form-group:focus-within .form-input {
  border-color: #5f42b6;
}

.form__body--radio {
  display: block;
}

.form-row {
  display: flex;
  margin-top: 30px;
}

.form-radio label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #474669;
}

.form-radio label::before,
.form-radio label::after {
  display: inline-block;
  content: "";
}

.form-group.label {
  font-size: 1.4rem;
  color: #25264c;
  font-weight: 700;
}

.form-radio + .form-radio {
  margin-left: 25px;
}

.form-radio label::before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #9f9faf;
  margin-right: 8px;
}

.form-radio [type="radio"] {
  display: none;
}

.form-radio:has(input:checked) label::before {
  background-color: #5f30e2;
  border-color: #5f30e2;
}

.form-radio:has(input:checked) label::after {
  width: 9px;
  height: 5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 4px;
  left: 3px;
  rotate: -45deg;
}

.form-group:has(:invalid:not(:placeholder-shown)) .error {
  visibility: visible;
}

.form-textarea {
  margin-top: 43px;
}

.textarea-form {
  resize: none;
  width: 578px;
}

.textarea-form::placeholder {
  color: #bebfc9;
}

.form-textarea > .form-label {
  font-size: 1.1rem;
  font-weight: 700;
  color: #979797;
}

.submit-btn {
  margin-top: 50px;
  width: 161px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #3e1f92;
  border-radius: 10px;
  margin-left: 420px;
}

.submit-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
